<html lang="en">
<head>
    <title>
        The Daily Trump Dump
    </title>

</head>
<body>
<div id="menu">
 <a href="/"> Home
 </a>
</div>
<div style="top: 50px; width: 190px" id="years">
     {{{ years }}}
</div>
<div  style="top: 50px; left: 200px; position: absolute ;   "  id="body">
    {{{  body }}}
</div>

<!--
 BUILT: {{ built }}
-->
</body>
</html>