<html lang="en">
<head>
    <title>
        The Daily Trump Dump
    </title>
    <!--styles -->
    <!--javascript?-->
</head>
<body>

<div id="years">
    <!--years-->
</div>
<div id="body">
    {{{  body }}}
</div>


</body>
</html>