<div>
    <H2> {{year}} </H2>
    <DIV>
        {{#months}}
            <div class="year">
                <a href="{{page}}.html">{{name}}</a>
            </div>
        {{/months}}
    </DIV>
</div>
