<div class="monthly">
    <h1>
        {{yearAndMonth }}
    </h1>
    {{#dates}}
        <div class="monthly">
            <div class="date">
                {{ key }}
            </div>
            <UL>
                {{#value}}
                    <LI>
                        {{{ html }}}
                    </LI>
                {{/value}}
            </UL>
        </div>
    {{/dates}}
</div>