<html>
<head><title> The Daily Trump Dump - {{yearAndMonth.year}}-{{ yearAndMonth.month }}
</title></head>
<body>
<div class="monthly">
    <h1>
        {{yearAndMonth.year}}-[{ yearAndMonth.month }}
    </h1>
    {{#dates}}
        <div>
            <div class="date">  {{ key }}</div>
            <UL>
                {{#links}}
                    <LI>
                        {{{ html }}}
                    </LI>
                {{/links}}
            </UL>
        </div>
    {{/dates}}
</div>
</body>
</html>